# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# 가상환경
.venv/
venv/
env/

# 빌드 / 배포
build/
dist/
*.spec
*.egg-info/

# 측정 데이터 (개인 데이터)
save_data/
output/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# 로그
*.log

# 측정 결과 xlsx
*.xlsx
.github/
